// article.scss
@include rootColors;

@mixin article {
    h1 {
        font-size: 2.25em;
    }

    a {
        padding: 0;
    }

    figure {
        margin: 1rem;
        max-width: 70rem;

        background-color: var(--secondary);

        img {
            width: 100%;
        }
    }

    .left {
        float: left;
        width: 60%;
        max-width: 60rem;
    }

    .right {
        float:right;
        width: 60%;
        max-width: 60rem;
    }

    figcaption {
        padding: 0.3rem 1rem 1rem 1rem;
    }

    table {
        border-collapse: collapse;

        th {
            padding: 0.3rem 1rem
        }

        td {
            border: 1px solid #ddd;
            padding: 0.3rem 1rem;
        }

        tr:nth-child(even) {
            background-color: var(--secondary);
        }

        tr:hover {
            background-color: var(--secondary-hover);
        }
    }
}

@mixin link {
    .button {
        background: var(--secondary);
        border-radius: 2px;
    
        color: var(--link-color);
    
        text-decoration: none;
      }
  
      .button:hover {
        background-color: var(--secondary-hover)
      }
}