// article.scss
@include rootColors;

@mixin article {
    h1 {
        font-size: 2.25em;
    }

    a {
        padding: 0;
    }

    figure {
        margin: 1rem;
        max-width: 70rem;

        background-color: var(--secondary);

        img {
            width: 100%;
        }
    }

    .left {
        float: left;
        width: 60%;
        max-width: 60rem;
    }

    .right {
        float:right;
        width: 60%;
        max-width: 60rem;
    }

    figcaption {
        padding: 0.3rem 1rem 1rem 1rem;
    }

    video {
        margin: 0 25%;
    }

    table {
        border-collapse: collapse;

        th {
            padding: 0.3rem 1rem
        }

        td {
            border: 1px groove var(--table-border);
            margin: 0 0.5rem;
            padding: 0.3rem 1rem;
        }

        tr:nth-child(even) {
            background-color: var(--secondary);
        }

        tr:hover {
            background-color: var(--secondary-hover);
        }
    }

    .clearBG {
        background-color: var(--body-bg);
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;


        position: relative;
        top:auto;

        a {
            padding: 0.5rem;
            margin: 0.5rem;
        }
    }
}

@mixin link {
    .button {
        background: var(--secondary);
        border-radius: 2px;

        color: var(--link-color);

        text-decoration: none;
    }
    .button:hover {
        background-color: var(--secondary-hover)
    }

    a {
        text-decoration: none;
    }
    a:hover {
        background-color: var(--secondary-hover);
    }
}