// _code.scss

@mixin code {

  // Code
  pre {
    width: auto;
    max-width: 975px;
    white-space: pre-wrap;

    margin: 0 3rem;

    line-height: 2rem;

    clear: both;
  }

  code {
    font-family: 'Fira Code', monospace;
  }

  p > code.hljs { 
    display: inline; 
    padding: 0.30rem;
  }
}
  