// _code.scss

@mixin code {

  // Code
  pre {
    //background: var(--code-bg);
    //border-radius: 5px;

    //padding: 0 1rem;

    width: auto;
    max-width: 1000px;
    white-space: pre-wrap;
    
    line-height: 2rem;

    clear: both;

    code {
      font-family: 'Fira Code', monospace;
    }

  }
  .inline {
    display: inline-block;
    margin: 0;
    padding: 0.4rem 1rem;

  }
}
  