// _code.scss

@mixin code {

  // Code
  pre {
    width: auto;
    max-width: 1000px;
    white-space: pre-wrap;
    
    line-height: 2rem;

    clear: both;
  }

  code {
    font-family: 'Fira Code', monospace;
  }

  .inline {
    background: var(--code-bg);
    color: var(--code-inline-color);

    display: inline-block;
    margin: 1px 0;
    padding: 0 0.5rem;

  }
}
  