// _rootColors.scss

@mixin rootColors {
  :root {
    // Color presets
    --system-base-9: rgba(18, 18, 18, 1);
    --system-base-8: rgba(44, 44, 46, 1);
    --system-base-7: rgba(58, 58, 60, 1);
    --system-base-6: rgba(72, 72, 74, 1);
    --system-base-5: rgba(99, 99, 102, 1);
    --system-base-4: rgba(142, 142, 147, 1);
    --system-base-3: rgba(174, 174, 178, 1);
    --system-base-2: rgba(199, 199, 204, 1);
    --system-base-1: rgba(209, 209, 214, 1);
    --system-base-50: rgba(229, 229, 234, 1);
    --system-base-0: rgba(242, 242, 247, 1);

    --header-color: var(--system-base-9);

    --body-bg: var(--system-base-50);
    --body-color: var(--system-base-9);

    --secondary: var(--system-base-2);
    --secondary-hover: var(--system-base-3);
    
    --link-color: var(--system-base-8);

    --component-border: var(--system-base-2);
    --component-bg-hover: var(--system-base-1);

    --code-bg: #282c34;
    --code-inline-color: #abb2bf;
  }
  
  :root.theme--light {
    --header-color: var(--system-base-1);

    --body-bg: var(--system-base-9);
    --body-color: var(--system-base-1);

    --secondary: var(--system-base-8);
    --secondary-hover: var(--system-base-6);

    --link-color: var(--system-base-50);

    --component-border: var(--system-base-2);
    --component-bg-hover: var(--system-base-8);
  }
}

// TODO: clean up
// TODO: add darkmdode for code thing