:root {
  --system-base-9: rgba(18, 18, 18, 1);
  --system-base-8: rgba(44, 44, 46, 1);
  --system-base-7: rgba(58, 58, 60, 1);
  --system-base-6: rgba(72, 72, 74, 1);
  --system-base-5: rgba(99, 99, 102, 1);
  --system-base-4: rgba(142, 142, 147, 1);
  --system-base-3: rgba(174, 174, 178, 1);
  --system-base-2: rgba(199, 199, 204, 1);
  --system-base-1: rgba(209, 209, 214, 1);
  --system-base-50: rgba(229, 229, 234, 1);
  --system-base-0: rgba(242, 242, 247, 1);
  --header-color: var(--system-base-9);
  --body-bg: var(--system-base-50);
  --body-color: var(--system-base-8);
  --secondary: var(--system-base-2);
  --secondary-hover: var(--system-base-3);
  --link-color: var(--system-base-8);
  --component-border: var(--system-base-2);
  --component-bg-hover: var(--system-base-1);
  --code-bg: var(--system-base-8);
}

:root.theme--light {
  --header-color: var(--system-base-1);
  --body-bg: var(--system-base-9);
  --body-color: var(--system-base-1);
  --secondary: var(--system-base-8);
  --secondary-hover: var(--system-base-6);
  --link-color: var(--system-base-50);
  --component-border: var(--system-base-2);
  --component-bg-hover: var(--system-base-8);
}

:root {
  --system-base-9: rgba(18, 18, 18, 1);
  --system-base-8: rgba(44, 44, 46, 1);
  --system-base-7: rgba(58, 58, 60, 1);
  --system-base-6: rgba(72, 72, 74, 1);
  --system-base-5: rgba(99, 99, 102, 1);
  --system-base-4: rgba(142, 142, 147, 1);
  --system-base-3: rgba(174, 174, 178, 1);
  --system-base-2: rgba(199, 199, 204, 1);
  --system-base-1: rgba(209, 209, 214, 1);
  --system-base-50: rgba(229, 229, 234, 1);
  --system-base-0: rgba(242, 242, 247, 1);
  --header-color: var(--system-base-9);
  --body-bg: var(--system-base-50);
  --body-color: var(--system-base-8);
  --secondary: var(--system-base-2);
  --secondary-hover: var(--system-base-3);
  --link-color: var(--system-base-8);
  --component-border: var(--system-base-2);
  --component-bg-hover: var(--system-base-1);
  --code-bg: var(--system-base-8);
}

:root.theme--light {
  --header-color: var(--system-base-1);
  --body-bg: var(--system-base-9);
  --body-color: var(--system-base-1);
  --secondary: var(--system-base-8);
  --secondary-hover: var(--system-base-6);
  --link-color: var(--system-base-50);
  --component-border: var(--system-base-2);
  --component-bg-hover: var(--system-base-8);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: grid;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  background: var(--body-bg);
  color: var(--body-color);
  margin: 0 50px 0 0;
  transition: background-color 0s linear;
  background-image: url(./images/loafturtle.jpg);
  background-repeat: no-repeat;
  background-size: auto 65px;
  background-position-x: 10px;
  background-position-y: 70px;
}
@media screen and (max-width: 1000px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "nav" "main";
  }
  body .c-toggle {
    top: 30vw;
  }
}
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  body {
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: "header main" "nav main";
  }
  body footer {
    display: none;
  }
}
@media screen and (min-width: 2000px) {
  body {
    grid-template-columns: auto 800px auto;
    grid-template-rows: 80px auto auto;
    grid-template-areas: ". header ." "nav nav nav" ". main .";
  }
  body footer {
    display: none;
  }
}
body pre {
  width: auto;
  max-width: 1000px;
  white-space: pre-wrap;
  line-height: 2rem;
  clear: both;
}
body pre code {
  font-family: "Fira Code", monospace;
}
body .inline {
  display: inline-block;
  margin: 0;
  padding: 0.4rem 1rem;
}
body a {
  color: var(--link-color);
}
body p {
  max-width: 700px;
}
body header {
  grid-area: header;
  text-align: center;
  color: var(--header-color);
}
body nav {
  grid-area: nav;
  margin: 1rem;
}
@media screen and (max-width: 2000px) {
  body nav {
    display: flex;
    flex-direction: column;
  }
  body nav a {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    margin: 0.5rem 0 0.25rem 0;
  }
}
@media screen and (min-width: 2000px) {
  body nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  body nav h2 {
    display: none;
  }
  body nav a {
    padding: 0.75rem 1rem;
    margin: 0.5rem 0.5rem;
  }
}
body nav a {
  background: var(--secondary);
  border-radius: 2px;
  color: var(--link-color);
  text-decoration: none;
}
body nav a:hover {
  background-color: var(--secondary-hover);
}
body main {
  grid-area: main;
  margin: 10px;
  padding: 5px 5px 5px 20px;
  font-size: 1em;
}
@media screen and (max-width: 1000px) {
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  body nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  body main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  body nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  body main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 2000px) {
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  body nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  body main {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
  }
}
body main ul {
  background-color: var(--system-base-1);
  list-style-type: none;
}
body main h2 {
  margin: 10px 0 10px 0;
  cursor: pointer;
}
body main section {
  margin-bottom: 15px;
}
body main div {
  margin: 0 0 40px 0;
}
body main article {
  max-width: 1000px;
}
body main article figure {
  margin: 1rem;
  max-width: 50rem;
  background-color: var(--secondary);
}
body main article figure img {
  width: 100%;
}
body main article .left {
  float: left;
  width: 60%;
}
body main article .right {
  float: right;
  width: 60%;
}
body main article figcaption {
  padding: 0.3rem 1rem 1rem 1rem;
}

.c-toggle {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  display: inline-block;
  background: red;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: var(--component-bg-hover);
  background: var(--header-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 5px 12px rgba(0, 0, 0, 0.1);
}

.c-toggle__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  position: absolute;
  top: 0;
  transition: all 320ms ease-out 100ms;
}

.c-toggle__icon {
  display: block;
  width: 3.2rem;
  margin: 0.4rem;
}

.c-toggle--active .c-toggle__body {
  top: -3.2rem;
}

.notransition {
  transition: none !important;
}